.collections {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .collections-title{
    color: var(--color-text);
    text-align: center;
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    margin-top: 24px;
    text-transform: capitalize;
  }
  
  .collections-description {
    color: var(--color-text);
    text-align: center;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    line-height:var(--line-height-base);
    max-width: 967px;
  }
  
  .collection-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    margin-top: 40px;
    max-width: 1440px;
  }
  
  .collection-card {
    width: 390px;
    background-color: var(--color-background);
    border-radius: 28px;
    border: 3px solid #ffffff;
    box-shadow: var(--shadow-sm);
    overflow: hidden;
  }
  
  .collection-image {
    width: 100%;
    height: 354px;
    object-fit: cover;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
  }
  
  .collection-content {
    padding: 24px;
  }
  
  .collection-title {
    color: var(--color-text);
    text-align: center;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
  }
  
  .collection-description {
    color: var(--color-text);
    text-align: center;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    margin-top: 12px;
  }
  
  @media (max-width: 400px) {
    .collection-grid {
        max-width: 100%;
        transform: scale(0.9);
    }

    .collection-image{
      width: 100%;
    }

    .collection-description {
        font-size: 14px;
    }
}